{% extends 'base.html' %}
{% block pagetitle %}{{ block.super }} - Kullanıcı Listesi {% endblock %}
{% block body  %}
<div id="divListe" class="container-fluid">
	<div class="w-box">
		<a href="{% url 'kullanicilar:kayit' %}">
			<input type="submit" value="Kullanıcı Ekle" class="btn btn-primary">
		</a>
		<a href="{% url 'kullanicilar:tanimlamalar' %}">
			<input type="submit" value="Kullanıcı Grubu-Tipi Oluştur" class="btn btn-primary">
		</a>
		<div class="w-box-header">
			<div align="Center">Kullanıcı Listesi Ekranı</div>
		</div>
		<div class="w-box-content" style="overflow: auto;width: 100%;height: 100%;">
			<table class="table table-bordered" id="datatable">
				<thead>
					<tr>
						<th>Kullanıcı Kodu</th>
						<th>Kullanıcı Adı</th>
						<th>Kullanıcı Tipi</th>
						<th>Kullanıcı Durumu</th>
						<th>İşlemler</th>
					</tr>
				</thead>
				<tbody>
				{% for kullanicilar in sqlKullanicilar %}
					<tr id="{{ kullanicilar.KullaniciKodu }}">
						<td>{{ kullanicilar.KullaniciKodu }}</td>
						<td>{{ kullanicilar.KullaniciAdi }}</td>
						<td>{{ kullanicilar.KullaniciTipi }}</td>
						{% if kullanicilar.KullaniciDurumu == True %}
						<td>Aktif</td>
						{% else %}
						<td>Pasif</td>
						{% endif %}
						<td>
							{% if islemlerKontrol.IsKullaniciDetay == True %}
							<input type="button" class="btn btn-info" value="Detay" onclick="Detay('{{ kullanicilar.KullaniciKodu }}');">
							{% endif  %}
							{% if islemlerKontrol.IsKullaniciGuncelle == True %}
							<input type="button" class="btn btn-warning" value="Güncelle" onclick="Guncelle('{{ kullanicilar.KullaniciKodu }}');">
							{% endif  %}
							{% if islemlerKontrol.IsKullaniciSil == True %}
							<input type="button" class="btn btn-danger" value="Sil" onclick="Sil('{{ kullanicilar.KullaniciKodu }}');">
							{% endif %}
						</td>
					</tr>
				{% endfor %}	
				</tbody>
			</table>
		</div>
	</div>
</div>
<div id="divDetay" class="container-fluid" style="display: none;">
	<div class="w-box">
		<input class="btn btn-warning" type="button" value="Geri" style="margin-bottom: 5px;width: 25%;" onclick="GeriDetay();">
		<div class="w-box-header">
            <div align="Center">
                <span>Kullanıcı Detay Ekranı</span>
            </div>
		</div>
		<div class="w-box-content">
			<table class="table table-bordered">
                <tr>
                	<th style="width:25%;">Kullanıcı Kodu</th>
					<td id="kullaniciKoduDetay" style="width:75%;"></td>
                </tr>
                <tr>
                	<th>Kullanıcı Adı</th>
					<td id="kullaniciAdiDetay"></td>	
                </tr>
                <tr>
                    <th>Kullanıcı Parola</th>
					<td>*********</td>	
                </tr>
                <tr>
                	<th>Kullanıcı Tipi</th>
					<td id="kullaniciTipiDetay"></td>
                </tr>
                <tr>
                	<th>Kullanıcı Grubu</th>
					<td id="kullaniciGrubuDetay"></td>
                </tr>
                <tr>
                	<th>Kullanici Durumu</th>
                    <td id="kullaniciDurumuDetay"></td>
                </tr>
                <tr>
                    <th>Son Giriş</th>
					<td id="sonGirisDetay"></td>
                </tr>
                <tr>
                    <th>Kayıt Tarihi</th>
					<td id="kayitTarihiDetay"></td>
                </tr>
                <tr>
                	<th>Kayıt Yapan</th>
					<td id="kayitYapanDetay"></td>
                </tr>
                <tr>
                	<th>Düzeltme Tarihi</th>
					<td id="duzeltmeTarihiDetay"></td>	
                </tr>
                <tr>
                    <th>Düzeltme Yapan</th>
					<td id="duzeltmeYapanDetay"></td>	
                </tr>
            </table>             
		</div>
	</div>
</div>
<div id="divGuncelle" class="container-fluid" style="display: none;">
	<div class="w-box">
		<div class="w-box-header">
	        <div align="Center">
	            <span>Kullanıcı Düzenleme Ekranı</span>
	        </div>
		</div>
		<div class="w-box-content">
			<table class="table table-bordered">
				<form method="POST">
					{% csrf_token %}
					<tr>
						<th style="width: 25%;">Kullanıcı Kodu</th>
						<td style="width: 75%;">
							<input type="text" id="kullaniciKoduGuncelle" key="" class="form-control requiredHg">
						</td>
					</tr>
					<tr>	
						<th>Kullanıcı Adı</th>
						<td>
							<input type="text" id="kullaniciAdiGuncelle" class="form-control requiredHg">
						</td>
					</tr>
					<tr>	
						<th>Parola</th>
						<td>
							<input type="password" id="kullaniciParolaGuncelle" class="form-control requiredHg">
						</td>
					</tr>
					<tr>	
						<th>Parola Doğrulama</th>
						<td>
							<input type="password" id="kullaniciParolaDGuncelle" class="form-control requiredHg">
						</td>
					</tr>
					<tr>
						<th>Kullanıcı Tipi</th>	
						<td>
							<select id="kullaniciTipiGuncelle" class="form-control requiredHg">
								<option value="">Seçiniz</option>
								{% for kullaniciTipi in sqlKullaniciTipi %}
 								<option value="{{ kullaniciTipi.KullaniciTipiKodu }}">{{ kullaniciTipi.KullaniciTipi }}</option>
 								{% endfor %}
							</select>
						</td>
					</tr>
					<tr>
						<th>Kullanıcı Grubu</th>	
						<td>
							<select id="kullaniciGrubuGuncelle" class="form-control">
								<option value="">Seçiniz</option>
								{% for kullaniciGrubu in sqlKullaniciGrubu %}
 								<option value="{{ kullaniciGrubu.KullaniciGrubuKodu }}">{{ kullaniciGrubu.KullaniciGrubu }}</option>
 								{% endfor %}
							</select>
						</td>
					</tr>
					<tr>	
						<th>Kullanıcı Durumu</th>
						<td>
							<select id="kullaniciDurumuGuncelle" class="form-control requiredHg">
								<option value="0">Pasif</option>
								<option value="1">Aktif</option>
							</select>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="button" value="Geri" class="btn btn-warning" style="width:48%;" onclick="GeriGuncelle();">
							<input type="button" value="Kaydet" class="btn btn-success" style="width:50%;" onclick="KaydetGuncelle();">
						</td>
					</tr>
				</form>		
			</table>
		</div>
	</div>
</div>
<script type="text/javascript">
function Detay(argument){
	if(confirm("Detay Ekranı Açılsın mı ?") == true){
		$.ajax({
	        type: "post",
	        url: "",
	        data: {
	        	"ajaxDetay" : argument,
	        csrfmiddlewaretoken: "{{ csrf_token }}"
	        },
	        dataType: "json",
	        success: function(Veri){
	        	$("#divListe").css("display","none");
	        	$("#divDetay").css("display","block");
				$("#kullaniciKoduDetay").html(Veri.ajaxKullaniciKodu);
				$("#kullaniciAdiDetay").html(Veri.ajaxKullaniciAdi);
				$("#kullaniciTipiDetay").html(Veri.ajaxKullaniciTipi);
				$("#kullaniciGrubuDetay").html(Veri.ajaxKullaniciGrubu);
				$("#kullaniciDurumuDetay").html(Veri.ajaxKullaniciDurumu);
				$("#sonGirisDetay").html(Veri.ajaxSonGiris);
				$("#kayitTarihiDetay").html(Veri.ajaxKayitTarihi);
				$("#kayitYapanDetay").html(Veri.ajaxKayitYapan);
				$("#duzeltmeTarihiDetay").html(Veri.ajaxDuzeltmeTarihi);
				$("#duzeltmeYapanDetay").html(Veri.ajaxDuzeltmeYapan);
	        }, 
	        error: function(Hata){
	            alert("Hata !");
	        }
	    });	
	};
};
function Guncelle(argument){
	if(confirm("Kullanıcı Güncellensin mi ?") == true){
		$.ajax({
	        type: "post",
	        url: "",
	        data: {
	        	"ajaxGuncelle" : argument,
	        csrfmiddlewaretoken: "{{ csrf_token }}"
	        },
	        dataType: "json",
	        success: function(Veri){
	        	$("#divListe").css("display","none");
	        	$("#divGuncelle").css("display","block");
	        	$("#kullaniciKoduGuncelle").attr("key",Veri.ajaxKullaniciIdGuncelle);
				$("#kullaniciKoduGuncelle").val(Veri.ajaxKullaniciKoduGuncelle);
				$("#kullaniciAdiGuncelle").val(Veri.ajaxKullaniciAdiGuncelle);
				$("#kullaniciTipiGuncelle").val(Veri.ajaxKullaniciTipiGuncelle);
				$("#kullaniciGrubuGuncelle").val(Veri.ajaxKullaniciGrubuGuncelle);
				$("#kullaniciDurumuGuncelle").val(Veri.ajaxKullaniciDurumuGuncelle);
				$("#kullaniciParolaGuncelle").val(Veri.ajaxKullaniciParolaGuncelle);
				$("#kullaniciParolaDGuncelle").val(Veri.ajaxKullaniciParolaGuncelle);
	        }, 
	        error: function(Hata){
	            alert("Hata !");
	        }
	    });
	};
};
function KaydetGuncelle(){
	Required();
	if(confirm("Kaydedilsin mi ?") == true){
		$.ajax({
	        type: "post",
	        url: "",
	        data: {
	        	"ajaxKullaniciIdKaydet"      : $("#kullaniciKoduGuncelle").attr("key"),
	        	"ajaxKullaniciKoduKaydet"    : $("#kullaniciKoduGuncelle").val(),
	        	"ajaxKullaniciAdiKaydet"     : $("#kullaniciAdiGuncelle").val(),
	        	"ajaxKullaniciParolaKaydet"  : $("#kullaniciParolaGuncelle").val(),
	        	"ajaxKullaniciParolaDKaydet" : $("#kullaniciParolaDGuncelle").val(),
	        	"ajaxKullaniciTipiKaydet"    : $("#kullaniciTipiGuncelle").val(),
	        	"ajaxKullaniciGrubuKaydet"   : $("#kullaniciGrubuGuncelle").val(),
	        	"ajaxKullaniciDurumuKaydet"  : $("#kullaniciDurumuGuncelle").val(),
	        csrfmiddlewaretoken: "{{ csrf_token }}"
	        },
	        dataType: "json",
	        success: function(Veri){
	        	if(Veri.ajaxMesaj == true){
	        		location = "/kullanicilar/listele";
	        	}else{alert(Veri.ajaxMesaj);};
	        }, 
	        error: function(Hata){
	            alert("hata !");
	        }
	    });
	};
};
function Sil(argument){
	if(confirm("Kullanıcı Silinsin mi ?") == true){
		$.ajax({
	        type: "post",
	        url: "",
	        data: {
	        	"ajaxSil" : argument,
	        csrfmiddlewaretoken: "{{ csrf_token }}"
	        },
	        dataType: "json",
	        success: function(Veri){
	        	$("#"+argument+"").fadeOut().remove();
	        }, 
	        error: function(Hata){
	            alert("Hata !");
	        }
	    });
	};
};
function GeriDetay(){
	$("#divDetay").css("display","none");
	$("#divListe").css("display","block");
};
function GeriGuncelle(){
	$("#divGuncelle").css("display","none");
	$("#divListe").css("display","block");
};
$('#kullaniciParolaDGuncelle').keyup(function(){
	if($('#kullaniciParolaGuncelle').val() && $('#kullaniciParolaDGuncelle').val() != ""){
		if($('#kullaniciParolaGuncelle').val() != $('#kullaniciParolaDGuncelle').val()){
			$('#kullaniciParolaDGuncelle').css("border-color","#ff0505");
		}else{
			$('#kullaniciParolaDGuncelle').css("border-color","#5cb85c");
		}
    };
});
</script>
{% endblock %}